/* Framework */
[class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

/* General */
body {
    text-align: center;
    text-transform:uppercase;
    background-color: lightgreen;
}

h1 {
    margin: 2rem 0;
}

.box {
    height: 25px;
    background-color: #fff;
}

.border {
    border: 10px solid #000;
}

.footer {
    margin: 2rem 0;
}

/* Background */
.black {
    background-color: #000;
}

.yellow {
    background-color: #ffff00;
}

.red {
    background-color: #ce0000;
}

.pink {
    background-color: #e76363;
}

.white {
    background-color: #fff;
}